form {
    font: 1em sans-serif;
    max-width: 320px;
  }
  
  
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 1px 1px red;
    border: red solid 1px;

  }
  
  input:focus:invalid {
    box-shadow: none;
  }
  .no:checked ~ input[type="submit"]{display: none;}

